services:
  - type: web
    name: energy-ingestion
    runtime: docker
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DB_SSL
        value: true
      - key: PORT
        value: 3000
